body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
    flex: 1 0 auto;
}
h2 {
	line-height: 1.2;
	margin-bottom: 1.6rem;
}
a {
    color: #000000;
}
a:hover {
    cursor: pointer;
}
.brand-logo img{
    height: 60px;
}
.nav-wrapper{
    background-color: #ffffff;
    color: #000000;
}
.nav-wrapper a{
    color: #000000;
}
.nav-wrapper a:hover{
    background-color: #A5D6A7;
}
.sidenav-trigger i:hover {
    background-color: #ffffff;
}
.page-footer{
    background-color: #1B5E20;
}
.post-content .card-image{
    max-height: 300px;
    overflow: hidden;
}
.slider .indicators {
    bottom: 60px;
    z-index: 100;
}
.image-fixed {
    background-attachment: fixed;
}
.collapsible-body ul li a{
    overflow: hidden;
}